@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap');
@import "~antd/dist/antd.css";

body {
  font-family: 'Roboto', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  position: relative;
}

.posts {
  padding: 20px 0;
  max-width: 640px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 25px;
}

.post_detail {

}

.comments_area {
  margin-top: 45px;
  background-color: #fff;
  border-radius: 8px;
  padding: 20px 0;
}

.content {
  width: 600px;
  margin: 0 auto;
}